
@{
    ViewBag.Title = "InspectorOjb";
}

<h2>InspectorOjb</h2>
<div>
    <h1>@Model.firstName</h1>
    <h1>@Model.lastName</h1>
    <h1>@Model.yearOfBirth</h1>
    <h1>@Model.workExperience</h1>
</div>  